.content-wrapper {
    margin: 20px clamp(5px, 10vw, 300px) 0;
}

.cards-list-col {
    gap: 25px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.card {
    min-height: 260px;
    height: auto;
    width: 100%;
}

.card-body {
    min-height: 155px;
    height: auto;
}

.fade-out {
    opacity: 0;
    transition: all 250ms linear;
}

.modal-form {
    display: flex;
    flex-direction: column;
}

.modal-form * {
    width: 100%;
}

@media screen and (max-width:1440px) {
    .cards-list-col {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:768px) {
    .cards-list-col {
        grid-template-columns: repeat(1, 1fr);
    }
}
